html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    width: 70%;
}


/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/* Main */

.text-and-photo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.about-text {
    width: 60%;
    font-size: 1.05rem;
    padding-right: 20px;
}

.text-and-photo img {
    display: block;
    width: 40%;
    border-radius: 6%;
}


/* Projects */

.projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.projects img {
    width: 15px;
}


/* Skills */

.platforms {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.platforms img {
    width: 40px;
}


/* Footer */

footer {
    margin-top: 50px;
    padding: 16px;
    text-align: center;
    font-size: 1.05rem;
}

span {
    color: red;
}

@media only screen and (max-width: 900px) {
    .text-and-photo {
        flex-direction: column;
    }

    .about-text {
        width: 100%;
        font-size: 1.05rem;
        padding: 0;
    }
    
    .text-and-photo img {
        display: block;
        width: 100%;
        border-radius: 6%;
    }
}

@media only screen and (max-width: 560px) {
    nav {
        flex-direction: column;
    }
    
    ul {
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0 6px;
    }

    a {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 550px) {
    .platforms {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    ul {
        display: none;
    }
}